# === FRONTEND ===
/frontend/node_modules
/frontend/build

# === BACKEND ===
/backend/__pycache__/
/backend/*.pyc
/backend/venv/
/backend/.venv/
/backend/app/__pycache__/
/backend/.env

# === COMMON ===
.DS_Store
*.log
/db_dumps/
.vscode/
.venv
.other/

# comment for development stage
*.env